.footer
  padding-top: 70px
  padding-bottom: 30px

.footer__top
  display: flex
  justify-content: space-between
  padding-bottom: 40px

.footer__contact
  p, a
    font-size: 20px
    font-weight: 400
    line-height: 1.4
    display: inline-block
  p
    color: $color-text
    margin-right: 20px
  a
    color: $color-link
    text-decoration: none

.footer__header
  margin: 15px 0
  font-size: 36px
  font-weight: 300
  color: $color-text

.footer__bottom
  font-size: 20px
  font-weight: 400
  line-height: 36px
  text-align: center
  color: $color-text

  a
    text-decoration: none
    color: $color-text
    white-space: nowrap

.footer__img
  height: 24px
  display: inline-block
  margin-bottom: -3px
  margin-left: 4px

.footer__copyright
  font-size: 13px
  margin-top: 0
  color: #9D9D9D
