.hero-banner
  height: 560px
  text-align: center
  position: relative
  background-repeat: no-repeat
  background-position: -170px center
  background-image: url('../images/hero-banner.jpg')
  transform: translateZ(0)

  @media #{$medium-up}
    background-position: center

  @media #{$large-up}
    height: 660px

  @media #{$xlarge-up}
    height: 760px

  @media only screen and (min-width: 1900px)
    background-size: cover

  .post-section__button
    margin: 25px 0

.hero-banner__content
  padding-top: 100px

  @media #{$large-up}
    padding-top: 120px

  @media #{$xlarge-up}
    padding-top: 150px

.hero-banner__image
  display: block
  margin: auto
  width: 167px

.hero-banner__header
  font-family: $font--secondary
  font-size: 40px
  color: $color-white
  font-weight: 400
  display: inline-block
  position: relative
  margin:
    top: 0
    bottom: 5px

  @media #{$medium-up}
    font-size: 62px

  @media #{$large-up}
    font-size: 82px

  .hero-banner__header__place
    color: $color-green--dark
    font-size: 28px
    position: absolute
    bottom: -15px
    right: 15px

.hero-banner__subheader
  font-family: $font--secondary
  font-size: 18px
  color: $color-white
  font-weight: 400
  letter-spacing: 1pt
  text-transform: uppercase

  &--last
    margin-top: 45px
    text-transform: none

  @media #{$medium-up}
    font-size: 22px

  @media #{$large-up}
    font-size: 26px
