.hero-banner
  background-image: url('../images/hero-banner.jpg')
  background-size: cover
  background-repeat: no-repeat
  height: 660px
  text-align: center

.hero-banner__content
  padding-top: 170px

.hero-banner__image
  display: block
  margin: auto

.hero-banner__header
  font-family: $font--primary
  font-size: 82px
  color: $color-white
  font-weight: 400
  display: inline-block
  position: relative
  margin:
    top: 0
    bottom: 5px

  .hero-banner__header__place
    color: $color-green--dark
    font-size: 28px
    position: absolute
    bottom: -15px
    right: 15px

.hero-banner__subheader
  font-family: $font--primary
  font-size: 26px
  color: $color-white
  font-weight: 400
  letter-spacing: 1pt
  text-transform: uppercase

  &--last
    margin-top: 55px
    text-transform: none
