.navbar
  display: flex
  justify-content: space-between
  padding: 20px 0

.navbar__logo
  font-family: $font--primary
  font-size: 28px
  font-weight: 500

  span
    color: $color-green--dark

.navbar__logo,
.navbar-nav__item a
  text-decoration: none
  color: $color-blue

.navbar-nav
  margin: 0
  padding: 0
  list-style: none

.navbar-nav__item
  display: inline-block
  vertical-align: middle
  padding-left: 25px
  text-transform: uppercase

  a
    font-size: 16px
    font-weight: normal
