.newsletter-section
  padding: 70px 0
  background-color: $color-green--dark
  text-align: center

.newsletter__paragraph
  color: $color-white
  font-size: 22px

.newsletter-section__input-wrapper
  position: relative
  display: inline-block
  width: 100%
  margin: 10px 0

  @media #{$medium-up}
    margin-left: 50px
    width: 55%

    .button
      position: absolute
      top: 5px
      right: 4px

  @media #{$small-only}
    .button
      margin-top: 10px
