.newsletter-section
  background-color: $color-green--dark
  text-align: center

.newsletter__paragraph
  padding: 0 15px
  color: $color-white
  line-height: 1.4
  font:
    size: 20px
    weight: 300
  margin-bottom: 0

  @media #{$medium-up}
    font-size: 24px

.newsletter-section__input-wrapper
  position: relative
  display: inline-block
  width: 100%
  vertical-align: middle

  @media #{$medium-up}
    margin-left: 50px
    width: 55%

    .button
      position: absolute
      top: 5px
      right: 5px

  @media #{$small-only}
    .button
      margin-top: 20px
