.organizers-section
  background-color: $color-section

.organizer
  width: 100%
  margin: 10px 0

  @media #{$large-up}
    width: 35%

.organizers__logo
  img
    max-width: 233px
    width: 100%

.organizer__content
  display: inline-block

  @media #{$large-up}
    display: flex
    flex-direction: column
    margin-top: 45px

  .post-section__paragraph
    text-align: center

.organizers-more
  margin-top: 60px

.organizers-more__text,
.organizers-more__button
  margin: 10px 0

  @media #{$large-up}
    display: inline-block
    vertical-align: middle

.organizers-more__text
  font-size: 18px
  font-weight: 300
  color: $color-text
  line-height: 1.4
  text-align: left

  a
    font-weight: 600
    text-decoration: none
    color: $color-red

  @media #{$large-up}
    font-size: 20px
    text-align: center

.organizers-more__button
  background-color: $color-red

  &:hover
    background-color: lighten($color-red, 10%)
