.post-section
  text-align: center

.post-section__header
  font-size: 28px
  color: $color-text
  font-weight: 300
  margin-top: 0

  @media #{$medium-up}
    font-size: 32px

  @media #{$large-up}
    font-size: 38px

.post-section__paragraph
  margin: 30px 0 0
  font-size: 18px
  font-weight: 300
  line-height: 1.4
  color: $color-text
  text-align: left

  @media #{$medium-up}
    font-size: 20px
    text-align: center

  @media #{$large-up}
    font-size: 22px

.post-section__paragraph--important
  font-weight: 600

.post-section__button
  margin: 25px 0 0
  border-radius: 50px

  @media #{$medium-up}
    margin: 35px 0 0

  @media #{$large-up}
    margin: 35px 0 0
