.speakers
  display: flex
  justify-content: space-between
  flex-wrap: wrap

.speaker
  width: 100%
  margin: 10px 0 40px 0

  @media #{$medium-up}
    width: 50%

  @media #{$large-up}
    width: 25%
    margin: 10px 0

.speaker__title
  font-size: 24px
  font-weight: 600
  color: $color-text

.speaker__subtitle
  font-size: 18px
  font-weight: 300
  color: $color-blue

.speaker__image
  max-width: 202px
  margin-bottom: 15px
  border-radius: 300px

.speaker__social
  margin-top: 15px

  .icon--twiter
    margin-left: 15px

.h3
  margin: 50px 0 0
  font:
    size: 24px
    family: $font
    weight: 300
  color: $color-text

  @media #{$medium-up}
    font-size: 32px
