@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')
@import url('https://fonts.googleapis.com/css?family=Dosis')

$font: 'Source Sans Pro', sans-serif
$font--primary: 'Dosis', sans-serif

html, body
  font-family: $font
  font-size: 100%
  height: 100%

.container
  margin: 0 auto
  padding: 0 15px

.container--960
  max-width: 960px
