doctype html
html(lang="en")
  head
    title= VueConf
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" type="text/css" href="styles/style.css")

  body
    .container
      include _partials/hero-banner

    .container
      .container__inner
        .section.post-section
          h2.post-section__header
            | Every great framework deserves a great conference.
          p.post-section__paragraph
            | We aim at bringing you the most inspiring tech-talks and in-depth case studies from the community's leading Vue.js developers.
          p.post-section__paragraph
            | It is also a perfect opportunity to meet other like-minded developers.
          p.post-section__paragraph
            | However, #[strong we could use some help]! 
            br 
            | Please fill in the short survey regarding your preferences on lectures, workshops and organizational matters.
          a.post-section__button.button(href="")
            | Take the survey

      include _partials/newsletter

      .container__inner
        include _partials/speakers
        include _partials/submit-talk

      include _partials/organizers
      .container__inner
        include _partials/footer
