doctype html
html(lang="en")
  head
    title= VueConf
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" type="text/css" href="styles/style.css")
      
  body
    p.test
      | test
