doctype html
html(lang="en")
  head
    title= VueConf
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    meta(name="format-detection" content="telephone=no")
    link(rel="stylesheet" type="text/css" href="styles/style.css")

  body
    .container
      include _partials/hero-banner

    .container
      .container__inner
        .post-section
          h2.post-section__header
            | Every great framework deserves a great conference.
          p.post-section__paragraph
            | We aim at bringing you the most inspiring tech-talks and in-depth case studies from the leading Vue.js developers of our community.
            br
            br
            | The event is also a perfect opportunity to meet other like-minded developers.

      include _partials/newsletter

      .container__inner
        include _partials/speakers
        include _partials/submit-talk

      include _partials/organizers
      .container__inner
        include _partials/footer
