footer.footer
  .footer__top
    .footer__contact
      h3.footer__header Contact
      a(href="https://twitter.com/VueConference" target="_blank") @VueConference
      a(href="mailto:vuejs@monterail.com") vuejs@monterail.com

  .footer__bottom
    | Proudly supported by #[strong Evan You] and
    a(href="https://monterail.com") 
      img.footer__img(src="../images/monterail-logotype.svg" alt="Monterail") 

    .footer__copyright
      | Copyright 2016-2017 Monterail. All rights reserved.
