footer.footer
  .footer__top
    .footer__contact
      h3.footer__header Contact
      p
        | Follow us: 
        a(href="https://twitter.com/vueconf" target="_blank") @vueconf
      p
        | email: 
        a(href="mailto:vuejs@monterail.com") vueconf@monterail.com

  .footer__bottom
    .footer__copyright
      | Copyright 2016-2017 Monterail. All rights reserved.
