.hero-banner
  .hero-banner__content.container__inner
    img.hero-banner__image(src="/images/logo.png")
    h1.hero-banner__header
      | VueConf
    h2.hero-banner__subheader
      | Wrocław, Poland • Summer 2017
    h2.hero-banner__subheader.hero-banner__subheader--last
      | The first Official Vue.js Conference in the world!
