.navbar
  a.navbar__logo(href="/")
    span
      | Vue
    | Conf 2017

  nav
    ul.navbar-nav
      li.navbar-nav__item
        a(href="/")
          | Speakers

      li.navbar-nav__item
        a(href="/")
          | Organizers

      li.navbar-nav__item
        button.button
          | TICKETS SOON
