.navbar
  .navbar__container
    a.navbar__logo(href="/")
      span
        | Vue
      | Conf 2017
      
    label#burger(for="burger-target")
      .bar
      .bar
      .bar

    nav
      ul.navbar-nav
        li.navbar-nav__item
          a(href="#survey")
            | Survey

        li.navbar-nav__item
          a(href="#subscribe")
            | Subscribe
            
        li.navbar-nav__item
          a(href="#speakers")
            | Speakers
        
        li.navbar-nav__item
          a(href="#apply")
            | Apply as a speaker
