.newsletter-section
  .container__inner
      label.form__label
        | Vue.js Newsletter
      .newsletter-section__input-wrapper
        input.form__input(placeholder='Your email address...')
        button.button.button--dark
          | Subscribe

    p.newsletter__paragraph
      | Subscribe to get weekly updates on everything Vue-related.
      br
      | Conference included!
