.newsletter-section
  .container__inner
    .newsletter-section__input-wrapper
      label
        | Vue.js Newsletter
      input
      
    p.newsletter__paragraph
      | Subscribe to get weekly updates on everything Vue-related. 
      br
      | Conference included!
