.section.organizers-section.post-section
  .container__inner
    h2.post-section__header
      | People behind the conference

    .speakers
      .speaker
        img.speaker__image(src="../images/evan.jpg" alt="Evan You")
        .speaker__title
          | Evan You
        .speaker__social
          a.icon.icon--github(href="https://github.com/yyx990803" target="_blank")
          a.icon.icon--twitter(href="https://twitter.com/youyuxi" target="_blank")
        
      .speaker.speaker--last
        img.speaker__image(src="../images/damian.jpg" alt="Damian Dulisz")
        .speaker__title
          | Damian Dulisz
        .speaker__social
          a.icon.icon--github(href="https://github.com/shentao" target="_blank")
          a.icon.icon--twitter(href="https://twitter.com/damiandulisz" target="_blank")

      .organizer
        .organizer__content
          p.post-section__paragraph
            | Organized and supported by

          a.organizers__logo(href="http://monterail.com" target="_blank")
            img(src="../images/monterail-logotype.svg" alt="Monterail")

    .organizers-more
      .organizers-more__text
        | #[a(href="https://twitter.com/monterail" target="_blank") @Monterail] is a #[strong web development and design agency] based in Poland.
        | #[br] And we kinda love #[strong Vue]!
