.organizers-section.post-section
  .container__inner
    h2.post-section__header
      | People behind the conference

    .speakers
      .speaker
        img.speaker__image(src="../images/evan.png" alt="Evan You")
        .speaker__title
          | Evan You
        .speaker__social
          a.icon.icon--github(href="/")
          a.icon.icon--twiter(href="/")

      .speaker
        img.speaker__image(src="../images/damian.png" alt="Damian Dulisz")
        .speaker__title
          | Damian Dulisz
        .speaker__social
          a.icon.icon--github(href="/")
          a.icon.icon--twiter(href="/")

      .organizer
        .organizer__content
          p.post-section__paragraph
            | Organized and supported by

          a.organizers__logo(href="/")
            img(src="../images/monterail.png" alt="Monterail")
