.section.post-section
  h2.post-section__header.post-section__header--large
    | Speakers

  .speakers
    .speaker
      img.speaker__image(src="../images/evan.jpg" alt="Evan You")
      .speaker__title
        | Evan You
      .speaker__subtitle
        | Creator of Vue.js
      .speaker__social
        a.icon.icon--github(href="https://github.com/yyx990803" target="_blank")
        a.icon.icon--twitter(href="https://twitter.com/youyuxi" target="_blank")

    .speaker
      img.speaker__image(src="../images/jacobschatz.jpg" alt="Jacob Schatz")
      .speaker__title
        | Jacob Schatz
      .speaker__subtitle
        | Lead Frontend at GitLab
      .speaker__social
        a.icon.icon--gitlab(href="https://gitlab.com/jschatz1" target="_blank")
        a.icon.icon--twitter(href="https://twitter.com/jakecodes" target="_blank")

    .speaker
      img.speaker__image(src="../images/sarah.jpg" alt="Sarah Drasner")
      .speaker__title
        | Sarah Drasner
      .speaker__subtitle
        | SVG Animations Expert
      .speaker__social
        a.icon.icon--github(href="https://github.com/sdras" target="_blank")
        a.icon.icon--twitter(href="https://twitter.com/sarah_edo" target="_blank")

    .speaker
      img.speaker__image(src="../images/blake.jpg" alt="Blake Newman")
      .speaker__title
        | Blake Newman
      .speaker__subtitle
        | Software Engineer at Sainsbury’s
      .speaker__social
        a.icon.icon--github(href="https://github.com/blake-newman" target="_blank")
        a.icon.icon--twitter(href="https://twitter.com/blakenewman" target="_blank")

  h3.h3
    | More announcements soon!
