.section.post-section.cfp-section
  .nav-target#apply
  h2.post-section__header.post-section__header--large
    | Want to become a speaker?

  p.post-section__paragraph
    | Do you have something great to show? Want to share some knowledge?

  p.post-section__paragraph.post-section__paragraph--important
    | That’s pretty Vuesome!

  a.post-section__button.button(href="https://docs.google.com/forms/d/e/1FAIpQLSdtbxBpV0j_zCnELXQuIkeGH8x6gaOWE0J8tTsAdpa0O5MYOw/viewform" target="_blank")
    | Apply as a speaker

  p.post-section__paragraph
    | We will come back to you within a few days.
