.post-section
  h2.post-section__header.post-section__header--large
    | Want to become a speaker?

  p.post-section__paragraph
    | Do you have something great to show? Want to share some knowledge?

  p.post-section__paragraph.post-section__paragraph--important
    | That’s pretty Vuesome!

  button.post-section__button.button
    | Submit your talk idea

  p.post-section__paragraph
    | We will come back to you within a few days.
